@font-face {
  font-family: 'GraphikWeb';
  src: url(./Graphik-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'GraphikWeb';
  src: url(./Graphik-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: block;
}